.date {
  color: #828282;
  font-size: 12px;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.article ::ng-deep {
  img {
    width: 100%;
  }

  .imc-img {
    color: #828282;
    font-size: 14px;
  }
}

.page img {
  width: 100%;
}

.secondary-title {
  font-family: Inter;
  font-size: 20px;
}
